html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    height: 300px;
}

.flex-container div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #daa520;
}

.flex-container div:nth-child(2n) {
    align-self: center;
}

.flex-container div:nth-child(3n) {
    align-self: flex-end;
}
